
.card{
    width: 345;
    border-radius:20px;
    background-color: none;
    box-shadow: none;
    color:#fff;
}

.buttonBase{
    display:flex;
    flex-direction: column;
    margin:auto;
    font-family: "SuperHero";
}



.marvel{
    font-family: "SuperHero";
}

.fixedImage{
    height:400px;
}

